# Global patterns
*.html
*.idx
*.swp
*.zip
.DS_Store
nimcache/

# Full paths.
/argument_parser
/examples/ex_cp
/examples/ex_git
/examples/ex_mkdir
/examples/ex_wget
/nakefile
/tests/code_test
/tests/help_generation
